.content {
  min-height: 100vh;
  min-width: 100vw;
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
}

.animals {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
