.cow-and-cat {
  display: flex;
  justify-content: space-around;
  margin-top: 9vh;
  height: 22vh;
}

.cow {
  width: 22vw;
  background: url(../img/cow.svg) no-repeat center center;
  background-size: contain;
}

.cow--chat {
  width: 22vw;
  background: url(../img/cow.svg) no-repeat center center,
    url(../img/chat-to-right.svg) no-repeat center right;
  background-size: contain, 20%;
}

.cat {
  width: 22vw;
  background: url(../img/cat.svg) no-repeat center center;
  background-size: contain;
}

.cat--chat {
  width: 22vw;
  background: url(../img/cat.svg) no-repeat center center,
    url(../img/chat-to-left.svg) no-repeat center left;
  background-size: contain, 20%;
}

@media (min-height: 600px) {
  .cow-and-cat {
    margin-top: 19vh;
    height: 18vh;
  }
}

@media (min-height: 1000px) {
  .cow-and-cat {
    margin-top: 25vh;
    height: 17vh;
  }
}

@media (min-width: 800px) {
  .cow {
    width: 18vw;
  }
  .cow--chat {
    width: 18vw;
  }
  .cat {
    width: 18vw;
  }
  .cat--chat {
    width: 18vw;
  }
}
