.cow-cat {
  display: flex;
  justify-content: space-around;
  height: 22vh;
}

.cow {
  width: 22vw;
  background: url(../img/cow.svg) no-repeat center center;
  background-size: contain;
}

.cow--chat {
  width: 22vw;
  background: url(../img/cow.svg) no-repeat center center,
    url(../img/chat-to-right.svg) no-repeat center right;
  background-size: contain, 20%;
}
.cat {
  width: 22vw;
  background: url(../img/cat.svg) no-repeat center center;
  background-size: contain;
}

.cat--chat {
  width: 22vw;
  background: url(../img/cat.svg) no-repeat center center,
    url(../img/chat-to-left.svg) no-repeat center left;
  background-size: contain, 20%;
}

@media (min-height: 600px) {
  .cow-cat {
    height: 18vh;
  }
}

@media (min-height: 1000px) {
  .cow-cat {
    height: 17vh;
  }
}

@media (min-width: 1300px) {
  .cow {
    width: 20vw;
  }
  .cow--chat {
    width: 20vw;
    background: url(../img/cow.svg) no-repeat center center,
      url(../img/chat-to-right.svg) no-repeat center right;
    background-size: contain, 18%;
  }
  .cat {
    width: 20vw;
  }
  .cat--chat {
    width: 20vw;
    background: url(../img/cat.svg) no-repeat center center,
      url(../img/chat-to-left.svg) no-repeat center left;
    background-size: contain, 18%;
  }
}
