.cow-animal-cat {
  display: flex;
  justify-content: space-evenly;
  height: 22vh;
  // align-items: center;
}

.cow {
  width: 22vw;
  background: url(../img/cow.svg) no-repeat center center;
  background-size: contain;
}

.cow--chat {
  width: 22vw;
  background: url(../img/cow.svg) no-repeat center center,
    url(../img/chat-to-right.svg) no-repeat center right;
  background-size: contain, 20%;
}
.animal {
  width: 15vw;
  height: 40%;
  border: 2px solid black;
  border-radius: 10%;
  background: white;
  text-align: center;
  font-family: LuckiestGuy;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
  align-self: center;
}
.cat {
  width: 22vw;
  background: url(../img/cat.svg) no-repeat center center;
  background-size: contain;
}

.cat--chat {
  width: 22vw;
  background: url(../img/cat.svg) no-repeat center center,
    url(../img/chat-to-left.svg) no-repeat center left;
  background-size: contain, 20%;
}

@media (min-height: 600px) {
  .cow-animal-cat {
    height: 18vh;
  }
}

@media (min-height: 1000px) {
  .cow-animal-cat {
    height: 17vh;
  }
}

@media (min-width: 800px) {
  .cow {
    width: 18vw;
  }
  .cow--chat {
    width: 18vw;
  }
  // .animal {
  //   width: 16vw;
  // }
  .cat {
    width: 18vw;
  }
  .cat--chat {
    width: 18vw;
  }
}
