.cow-sheep-cat {
  margin-top: $m-size;
  display: flex;
  justify-content: center;
  height: $height-animal-base;
}

.cow {
  width: $width-animal-base;
  background: url(../img/cow.svg) no-repeat center center;
  background-size: contain;
}

.cow--chat {
  width: $width-animal-base;
  background: url(../img/cow-chat.svg) no-repeat center center;
  background-size: contain;
}

.sheep {
  width: $width-animal-base;
  background: url(../img/sheep.svg) no-repeat center center;
  background-size: contain;
}

.sheep--chat {
  width: $width-animal-base;
  background: url(../img/sheep-chat.svg) no-repeat center center;
  background-size: contain;
}
.cat {
  width: $width-animal-base;
  background: url(../img/cat.svg) no-repeat center center;
  background-size: contain;
}

.cat--chat {
  width: $width-animal-base;
  background: url(../img/cat-chat.svg) no-repeat center center;
  background-size: contain;
}
