.dog {
  display: flex;
  justify-content: center;
  height: $height-animal-base;
}

.dog__image {
  width: $width-animal-base;
  background: url(../img/dog.svg) no-repeat center center;
  background-size: contain;
}

.dog__image--chat {
  width: $width-animal-base;
  background: url(../img/dog.svg) no-repeat center center,
    url(../img/chat-to-right.svg) no-repeat center right;
  background-size: contain, 20%;
}

@media (min-height: 600px) {
  .dog {
    height: $height-animal-600;
  }
}

@media (min-height: 1000px) {
  .dog {
    height: $height-animal-1000;
  }
}

@media (min-width: 1300px) {
  .dog__image {
    width: $width-animal-1300;
  }
  .dog__image--chat {
    width: $width-animal-1300;
    background: url(../img/dog.svg) no-repeat center center,
      url(../img/chat-to-right.svg) no-repeat center right;
    background-size: contain, 18%;
  }
}
