.dog {
  display: flex;
  justify-content: center;
  height: 22vh;
}

.dog__image {
  width: 22vw;
  background: url(../img/dog.svg) no-repeat center center;
  background-size: contain;
}

.dog__image--chat {
  width: 22vw;
  background: url(../img/dog.svg) no-repeat center center,
    url(../img/chat-to-right.svg) no-repeat center right;
  background-size: contain, 20%;
}

@media (min-height: 600px) {
  .dog {
    height: 18vh;
  }
}

@media (min-height: 1000px) {
  .dog {
    height: 17vh;
  }
}

@media (min-width: 1300px) {
  .dog__image {
    width: 20vw;
  }
  .dog__image--chat {
    width: 20vw;
    background: url(../img/dog.svg) no-repeat center center,
      url(../img/chat-to-right.svg) no-repeat center right;
    background-size: contain, 18%;
  }
}
