.duck-dog-chicken {
  display: flex;
  justify-content: space-evenly;
  height: $height-animal-base;
}

.duck {
  width: $width-animal-base;
  background: url(../img/duck.svg) no-repeat center center;
  background-size: contain;
}

.duck--chat {
  width: $width-animal-base;
  background: url(../img/duck-chat.svg) no-repeat center center;
  background-size: contain;
}

.dog {
  width: $width-animal-base;
  background: url(../img/dog.svg) no-repeat center center;
  background-size: contain;
}

.dog--chat {
  width: $width-animal-base;
  background: url(../img/dog-chat.svg) no-repeat center center;
  background-size: contain;
}

.chicken {
  width: $width-animal-base;
  background: url(../img/chicken.svg) no-repeat center center;
  background-size: contain;
}

.chicken--chat {
  width: $width-animal-base;
  background: url(../img/chicken-chat.svg) no-repeat center center;
  background-size: contain;
}
