.duck-sheep-chicken {
  display: flex;
  justify-content: space-evenly;
  height: $height-animal-base;
}

.duck {
  width: $width-animal-base;
  background: url(../img/duck.svg) no-repeat center center;
  background-size: contain;
}

.duck--chat {
  width: $width-animal-base;
  background: url(../img/duck.svg) no-repeat center center,
    url(../img/chat-to-right.svg) no-repeat center right;
  background-size: contain, 20%;
}
.sheep {
  width: $width-animal-base;
  background: url(../img/sheep.svg) no-repeat center center;
  background-size: contain;
}

.sheep--chat {
  width: $width-animal-base;
  background: url(../img/sheep.svg) no-repeat center center,
    url(../img/chat-to-right.svg) no-repeat center right;
  background-size: contain, 20%;
}

.chicken {
  width: $width-animal-base;
  background: url(../img/chicken.svg) no-repeat center center;
  background-size: contain;
}

.chicken--chat {
  width: $width-animal-base;
  background: url(../img/chicken.svg) no-repeat center center,
    url(../img/chat-to-left.svg) no-repeat center left;
  background-size: contain, 20%;
}

@media (min-height: 600px) {
  .duck-sheep-chicken {
    height: $height-animal-600;
  }
}

@media (min-height: 1000px) {
  .duck-sheep-chicken {
    height: $height-animal-1000;
  }
}

@media (min-width: 1300px) {
  .duck {
    width: $width-animal-1300;
  }
  .duck--chat {
    width: $width-animal-1300;
    background: url(../img/duck.svg) no-repeat center center,
      url(../img/chat-to-right.svg) no-repeat center right;
    background-size: contain, 18%;
  }
  .sheep {
    width: $width-animal-1300;
  }
  .sheep--chat {
    width: $width-animal-1300;
    background: url(../img/sheep.svg) no-repeat center center,
      url(../img/chat-to-right.svg) no-repeat center right;
    background-size: contain, 18%;
  }
  .chicken {
    width: $width-animal-1300;
  }
  .chicken--chat {
    width: $width-animal-1300;
    background: url(../img/chicken.svg) no-repeat center center,
      url(../img/chat-to-left.svg) no-repeat center left;
    background-size: contain, 20%;
  }
}
