// colors

//spacing
$m-size: 1.6rem;

$width-animal-base: 22vw;
$height-animal-base: 22vh;
//min-height: 600px
$height-animal-600: 18vh;
//min-height: 1000px
$height-animal-1000: 17vh;
//min-width: 1300px
$width-animal-1300: 20vw;
//fonts
@font-face {
  font-family: LuckiestGuy;
  src: url(../fonts/LuckiestGuy.ttf);
}
