// colors

//spacing
$m-size: 1.6rem;
// $l-size: 3.2rem;
$xl-size: 5rem;

//320
$width-animal-base: 20vw;
$height-animal-base: 18vh;
//fonts
@font-face {
  font-family: LuckiestGuy;
  src: url(../fonts/LuckiestGuy.ttf);
}
